.decorative
	position: absolute
	z-index: 0
	
.waffel
	right: -67px
	bottom: -349px
	width: 922px
	height: 763px
	background: url('../img/Waffel.png')
	background-size: cover
	background-position: 166px 0
	background-repeat: no-repeat

.tomato
	width: 274px
	height: 281px
	background: url('../img/tomato.png')
	background-size: cover
	left: 86px
	bottom: -284px