@media (max-width: 1023px)
	.hero
		.wrapper::before
			display: none	
		.main-title::after
			right: 0
			top: 300px

@media (max-width: 834px)
	header
		.phone
			justify-content: center
			margin-bottom: 20px
		.align-justify
			justify-content: center
	
	.hero
		.main-title
			text-align: center
			margin-left: auto
			margin-right: auto


@media (max-width: 570px)
	.wrapper::before,
	.wrapper::after
		display: none !important

	header .main-menu
		display: none
	
	.hero .main-title::after
		display: none

@media (max-width: 425px)
	html
		font-size: 11px
	
	.hero
		justify-content: flex-end