@media (max-width: 1460px)
	header
		nav
			display: none
		.logo
			margin: 0 auto
	
	.hero .main-title
		max-width: 100%
		margin-left: 0
		text-align: center
		font-size: 70px
	
	.events .background
		background: none
	
	.wrapper
		&::before,
		&::after
			display: none !important
		.main-title:after
			display: none !important
	
	.reservation-form
		justify-content: center !important
			