=flex
	display: flex
	align-items: center
	justify-content: space-between

=regular
	font-family: 'Playfair Display', serif
	font-weight: 400


=bold
	font-family: 'Playfair Display', serif
	font-weight: 700


=title 
	font-family: 'Gabelisa'
	font-weight: 400
