@import setup/_

body
	+regular

.wrapper
	max-width: 1326px
	width: 100%
	margin: 0 auto

header
	position: absolute
	top: 100px
	width: 100%
	z-index: 99

.main-menu
	margin: 0
	padding: 0
	list-style: none
	display: flex
	a
		+regular
		font-size: 17px
		font-weight: 700
		text-transform: uppercase
		letter-spacing: 3.33px
		padding: 10px 20px
		color: #ffffff
		text-decoration: none

.hero
	height: 100vh
	background: radial-gradient(rgba(98,97,146,1), rgba(63,62,101,1))
	display: flex
	flex-direction: column
	justify-content: center
	position: relative
	overflow-x: hidden
	h1
		+title
		max-width: 395px
		color: $colorTitle
		font-size: 116px
		text-align: right
		margin-left: 155px
